* {
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 1024px;
    position:fixed;
    margin: 0 auto;
    font:
      1.2em Helvetica,
      arial,
      sans-serif;
  }
  
  .wrapper > * {
    border: 2px solid #f08c00;
    background-color: #ffec99;
    border-radius: 5px;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-head {
    grid-area: header;
  }
  .main-content {
    grid-area: main-content;
  }
  .main-nav {
    grid-area: nav;
  }
  .left-side {
    grid-area: left-side;
  }
  .right-side {
    grid-area: right-side;
  }
  .main-footer {
    grid-area: footer;
  }
  
  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "main-content"
      "left-side"
      "right-side"
      "footer";
  }
  
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header  header"
        "nav     nav    nav"
        "left-side main-content right-side"
        "footer footer footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  